<section class="footer">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center text-center p-5 m-4">
      <div class="item col-md-4 p-4">
        <h3 class="mb-3">LOCATION</h3>
        <p class="mb-3">2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="item col-md-4 p-4 z-0">
        <h3 class="mb-3">AROUND THE WEB</h3>
        <div class="icons d-flex justify-content-center align-items-center ">
          <i class="fa-brands fa-facebook mx-1 icon "></i>
          <i class="fa-brands fa-twitter mx-1 icon "></i>
          <i class="fa-brands fa-linkedin-in mx-1 icon "></i>
          <i class="fa-solid fa-globe mx-1 icon "></i>
        </div>
      </div>
      <div class="item col-md-4 p-4">
        <h3 class="mb-3">ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>

  </div>
  <div class=" footer-text container-fluid  d-flex justify-content-center align-items-center">
    <p class=" text-center mb-3" >Copyright © Your Website 2021</p>
  </div>
</section>
