<section class="about mt-lg-5 pt-lg-5">
  <div class=" container-fluid d-flex flex-column align-items-center justify-content-center mt-5 ">

    <div class="content d-flex flex-column align-items-center justify-content-end mt-md-5 ">

      <div class="title mt-5">

        <h2 class=" text-uppercase mt-4 mb-3">about component</h2>

        <div  class="d-flex align-items-center justify-content-center mb-3">
          <div  class="line me-3" ></div>
          <i  class="fa-solid fa-star "></i>
          <div  class="line ms-3" ></div>
        </div>

      </div>



      <div  class="container d-flex flex-column align-items-center justify-content-center ">
        <div  class="row  ">
          <div  class="col-md-6 ps-5 pb-3 ">
            <p class=" px-1" > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
          </div>
          <div  class="col-md-6 ps-5">
            <p class="px-1"> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
          </div>
        </div>
      </div>

    </div>




  </div>

</section>
