<section class="home">
  <div class=" container-fluid d-flex flex-column align-items-center justify-content-center ">
    <div class="img-box mt-5">
      <img src="/avataaars.svg"  alt="avatar image" class=" w-75 d-block mx-auto">

    </div>

    <div class="title ">
      <h2 class=" text-uppercase mt-4 mb-3">Start Framework</h2>

      <div  class="d-flex align-items-center justify-content-center mb-3">
        <div  class="line me-3 " ></div>
        <i  class="fa-solid fa-star "></i>
        <div  class="line ms-3 " ></div>
      </div>

    </div>


    <p>Graphic Artist - Web Designer - Illustrator</p>


  </div>

</section>
