
*,
*::before,
*::after {

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
    background-color: #1ABC9C;


}

p {
  padding: 0;
  margin: 0;
}

.home {
  min-height: calc(-106px + 100vh);
  background-color: #1ABC9C;
}

.home h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 48px;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
.home .title .line {
  background-color: #fff;
  width: 80px;
  height: 4px;
}
.home .title i {
  color: #fff;

}
.home p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}
